h1 {
  font-size: 40px;
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  margin-top: 35px;
  margin-bottom: 25px;
}
p,a {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 165%;
  letter-spacing: 0.0025em;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 41px;
}
html, body{
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}
html, body, a {
  background-color: hsl(0, 0%, 95%);
}
body,main {
  display: flex;
}
main {
  width: 327px;
  margin: 13.6% auto;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
}
div#first {
  background-color:hsl(31, 77%, 52%);
}
div#second {
  background-color:hsl(184, 100%, 22%);
}
div#third {
  background-color:hsl(179, 100%, 13%);
}

div#first a{
  color:hsl(31, 77%, 52%);
}
div#second a{
  color:hsl(184, 100%, 22%);
}
div#third a{
  color:hsl(179, 100%, 13%);
}
div.card {
  padding: 48px;
  height: 33.33%;
}
a {
  border-radius: 30px;
  padding: 11px 31px;
  text-decoration: none;
}

div#third a:active,div#second a:active, div#first a:active {
  border: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: rgba(255, 0, 0, 0);
}

@media only screen and (min-width: 1024px) {
  main {
    flex-direction: row;
    flex-shrink: 0;
    margin: auto;
    margin-top: 21.25vh;
    height: 500px;
    width: 920px;
    overflow-x: scroll;
  }
  body, html {
    overflow-x: scroll;
    height: 100%
  }
  div.card {
    width: 33.33%;
    height: 100%;
  }
  p {
    margin-bottom: 88px;
  }
}
